{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row mt-4">
      {% if group %}
        <h5 class="mb-3"><i class="bi bi-star-fill me-2"></i>Kênh trong gói thuê bao: {{ group }}</h5>
        {% else %}
        <h5 class="mb-3 text-danger">Tài khoản {{ request.user }} chưa đăng ký gói thuê bao nào.</h5>

        {% endif %}
        {% for i in stream %}
        <div class="col-6 mb-4">
            <div class="card shadow-sm h-100 " >
                <img src="{{ i.cover.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ i.title }}</h5>
                  <p class="card-text">{{ i.description }}</p>
                </div>
                <div class="card-footer">
                  <a href="{% url 'stream' i.id %}" class="btn btn-primary stretched-link">Xem</a>

                </div>
              </div>
        </div>
        {% endfor %}
    </div>




</div>
{% endblock %}